*{
    padding: 0px;
}

.HomePage {
    width: 100vw;
    text-align: center;
    margin: auto;
    font-family: 'Alegreya Sans SC', sans-serif;
    
}

nav {
    width: 100vw;
    text-align: center;
    margin: auto;
    background-color: 	hsl(0, 0%, 17%);   
    color: 	hsl(0, 0%, 78%);
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

#HardRock {
    padding-right: 80px;
}

ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none; 
    max-width: 100vw;
}

li + li {
    margin-left: 5vw;
}


a {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
}

.container{
    position: relative;
    width: 100vw;
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: (-50%,-50%);
}

.container img {
    width: 100vw;
    height: auto;
}

.container .picbutton {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    -ms-transform: (-50%,-50%);
}

.connect {
    text-align: left;
    font-size: 25px;
}

table {
    width: 100vw;
    text-align: left;
    padding-bottom: 20px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: bolder;
    font-size: larger;
}
td {
    padding: 10px;
    font-weight: lighter;
}

button {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    
}

button:hover {
    background-color: black;
    color: white;
}

